<section class="books">
  <img class="cover-img" src="{{book.thumbnail}}">
  <div class="book-details">
    <h3 class="main-text">{{book.title}}</h3>
    <h5 class="main-text">{{book.subtitle}}</h5>
    <p class="author">By: {{book.authors}}</p>
      <button class="btn" id="add" data-ID="{{book.id}}">Add to Reading List</button>
    <hr style="margin: 1rem auto;">
    <p>{{book.description}}</p>
    <p style="margin-top: 1rem;"><span style="font-weight: bolder;">No. of pages:</span> {{book.num_pages}}</p>
    <p><span style="font-weight: bolder;">Published in:</span> {{book.published_year}}</p>
    <p><span style="font-weight: bolder;">Average Rating:</span> {{book.average_rating}}</p>
    <p><span style="font-weight: bolder;">Rated by:</span> {{book.ratings_count}} people</p>
  </div>
</section>

<script src="/js/add.js"></script>